html,
body,
[id="app"] {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  min-height: calc(100% - #{$header-height});
}

.row-gutter-top {
  & > div {
    margin-top: $grid-gutter-width;
  }
}
